<header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">FootballStadium</a></h1>
         <div class="search">
          <%= form_with(url: search_matches_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "試合を検索する", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
          <% end %>
         </div>
            <% if user_signed_in? %>
      <ul>
       <li><%= link_to '試合予定一覧', newmatches_path, class: "post" %>
       <li><%= link_to '試合結果投稿', new_match_path, class: "post" %>
       <li><%= link_to 'マイページ', user_path(current_user.id), class: "post" %></li>
      </ul>
       <% else %>
       <ul>
      <li><%= link_to 'ログイン', new_user_session_path, class: "post" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "post" %></li>
      </ul>
      <% end %>
      </div>
    </header>