 <%= render "shared/header" %>
    <h2 class="topics">-TOPICS-</h2>
    <div class="slider"> 
      <div><%= image_tag 'S__19701764.jpg', :size => '500x300' %></div>
      <div><%= image_tag 'S__19701765.jpg', :size => '500x300' %></div>
      <div><%= image_tag 'S__19701762.jpg', :size => '500x300' %></div>
    </div>
    <script>
      $('.slider').slick({
      autoplay:true,
      autoplaySpeed:3000,
      dots:true,
    });
    </script>
 <div class="title-contents">
    <div class="title-contents2">
      <p class='new-match'>最新試合</p>
      <% @matches.each do |match|%>
      <li class='list'>
        <div class='list-2'>
        <%= link_to match_path(match.id) do %>
        
            <div class='match-date'>
                    <div class='index-league1'><%= match.league %>
                    </div>
                    <div class='index-date1'><%= match.date %></div>
            </div>
              <div class='match-important'>
                <div class='match-content'>
                  <div class='score-name'>
                    <%= image_tag match.home_team_image, class: "item-img" %>
                    <div class='team-name1'>
                      <%= match.home_team_name %>
                    </div>
                  </div>
                  <div class='score1'>
                    <%= match.home_team_score %>
                  </div>
                </div>
                <div class='match-content'>
                  <div class='score1'>
                    <%= match.away_team_score %>
                  </div>
                  <div class='score-name'>
                      <%= image_tag match.away_team_image, class: "item-img" %>
                    <div class='team-name1'>
                      <%= match.away_team_name %>
                    </div>
                  </div>
                  </div>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
        <div class="page-nation">
          <%= paginate @matches %>
        </div>
    </div>
      <h3 class="news">
        <div class="news-index">
          <h5 class="news-list"> ⚽️ FOOTBALL NEWS  ⚽️</h5>
          <ul class="newsshow">
            <li class="news1"><%= image_tag 'image_torino.jpg', :size => '80x50' %><%= link_to "絶好調ミラントリノMF獲得間近か！？", "https://www.goal.com/jp/%E3%83%8B%E3%83%A5%E3%83%BC%E3%82%B9/milan-transfer-meite-20210114/1jqt3wawwmh7h1usx5443x53vc", class:"news2" %></li>
            <li class="news1"><%= image_tag 'image_syakaizin.jpg', :size => '80x50' %><%= link_to "FC枚方TIAMO JFL昇格！！", "http://www.jffms.jp/news/992", class:"news2" %></li>
            <li class="news1"><%= image_tag 'image_nankatu.jpg', :size => '80x50' %><%= link_to "南葛SC関東２部昇格！！", "https://headlines.yahoo.co.jp/hl?a=20201202-01148997-soccerk-socc", class:"news2" %></li>
            <li class="news1"><%= image_tag 'image_mbappe.jpg', :size => '80x50' %><%= link_to "ムバッペレアル移籍か！？", "https://www.goal.com/jp/%E3%83%8B%E3%83%A5%E3%83%BC%E3%82%B9/real-madrid-transfer-psg-mbappe-20200113/7uooklfflloo1pqp03owafnzk", class:"news2" %></li>
          </ul>
        </div>
      </h3>
 </div>