 <%= render "shared/header" %>

 <div class="title-contents">
    <div class="title-contents2">
      <p class='new-match'>最新試合</p>
      <% @matches.each do |match|%>
      <li class='list'>
        <div class='list-2'>
        <%= link_to match_path(match.id) do %>
        
            <div class='match-date'>
                    <div class='index-league1'><%= match.league %>
                    <div class="like">
                      ⭐️ :<%= match.liked_users.count %>
                    </div>
                    </div>
                    <div class='index-date1'><%= match.date %></div>
            </div>
              <div class='match-important'>
                <div class='match-content'>
                  <div class='score-name'>
                    <%= image_tag match.home_team_image, class: "item-img" %>
                    <div class='team-name1'>
                      <%= match.home_team_name %>
                    </div>
                  </div>
                  <div class='score1'>
                    <%= match.home_team_score %>
                  </div>
                </div>
                <div class='match-content'>
                  <div class='score1'>
                    <%= match.away_team_score %>
                  </div>
                  <div class='score-name'>
                      <%= image_tag match.away_team_image, class: "item-img" %>
                    <div class='team-name1'>
                      <%= match.away_team_name %>
                    </div>
                  </div>
                  </div>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
    </div>
      <h3 class="news">
        <div class="news-index">
        <div class="news2">NEWS一覧</div>
        <ul class="newsshow">
        <li class="news1">・横浜・F・マリノス エリキ退団</li>
        <li class="news1">・レアルムバッペ獲得に本腰</li>
        <li class="news1">・南葛SC 関東２部昇格</li>
        <li class="news1">・FC枚方TIAMO JFL昇格</li>
        </ul>
        </div>
      </h3>
 </div>
 
 <%= render "shared/fotter" %>