<%= render "shared/second-header" %>
<li class='list'>
 <div class='list-2'>
            <div class='match-date'>
                    <div class='show-league'><%= @match.league %></div>
                    <div class='show-date'><%= @match.date %></div>
            </div>
        <div class='match-important'>
        <div class='match-content'>
            <div class='score-name'>
                <%= image_tag @match.home_team_image, class: "team-show-img" %>
                <div class='team-show-name'>
                  <%= @match.home_team_name %>
                </div>
            </div>
            <div class='show-score'>
              <%= @match.home_team_score %>
            </div>
          </div>
          <div class='match-content'>
            <div class='show-score'>
              <%= @match.away_team_score %>
            </div>
            <div class='score-name'>
                <%= image_tag @match.away_team_image, class: "team-show-img" %>
                <div class='team-show-name'>
                <%= @match.away_team_name %>
                </div>
            </div>
          </div>
        </div>
         <div class='place-large'>
             <div class='show-place'>開催地：<%= @match.place %></div>
         </div>
         <div class="scoreler">
          <div class="show-scoreler">⚽️ スコアラー ⚽️</div>
            <div class="scoreler2">
              <div class="home-team-scoreler">HOMEチーム
                <%= @match.home_team_scoreler %>
              </div>
              <div class="away-team-scoreler">AWAYチーム
                <%= @match.away_team_scoreler%>
              </div>
          </div>
         </div>
         <div class="review1">
          <div class="review">
            <div class="show-review">マッチレビュー</div>
            <div class="match-review">
              <%= @match.review%>
            </div>
          </div>
         </div>
          <div class='like-show'>
              <h3>👍 件数: <%= @match.likes.count %></h3>
              <% if current_user.already_liked?(@match) %>
                <%= button_to '👍 を取り消す', match_like_path(@match), method: :delete %>
              <% else %>
                <%= button_to '👍', match_likes_path(@match) %>
              <% end %>
          </div>
      <% if user_signed_in? && current_user.id == @match.user_id %>
         <div class='match-edit'>
            <%= link_to '試合結果の編集', edit_match_path(@match.id), method: :get, class: "match-red-btn" %>
              <div class='or-text'>or</div>
            <%= link_to '削除', match_path(@match.id), method: :delete, class:'match-destroy-btn' %>
          </div>
      <% end %>
      </div>
  <div class="comments">
    <% if user_signed_in? %>
      <%= form_with(model:  [@match, @comment], local: true) do |form| %>
        <div class="comment">
          <%= form.text_area :text, placeholder: "コメントする", rows: "3", class:"comment2" %>
        </div>
        <div class="send">
          <%= form.submit "SEND", class:"send-btn" %>
        </div>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
</li>